@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0;
    border: 0;
    line-height: 1.6;
}

.header {
    display: flex;
    height: 100px;
    width: 100%;
}

.header-img {
    width: 100%;
    height: 100%;
    opacity: 70%;
    object-fit: cover;
}

.contenedor-header {
    position: absolute;
    display: flex;
    height: 100px;
    width: 100%;
}

.img-logo {
    height: 90px;
    width: auto;
}

.subcontenedor-header {
    position: relative;
    text-align: end;
    width: 100%;
}

nav {
    display: "ruby";
    width: 100%;
}

nav ul {
    display: inline-block;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #eca023;
}

section h1 {
    color: #fff;
    text-align: center;
}

.seleccion-pagina {
    background: #eca023;
}

/****/

.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 20px;
}

.container-form h2 {
    margin-bottom: 10px;
    font-size: 20px
}

.container-form p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.container-form a i {
    color: orange;
    margin-right: 10px;
}

.container-form form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
    background: #e39403;
}

.container-form .btn-2 {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #4ABCAD;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-2:hover {
    background: #4abcadb8;
}

.imagen-icon {
    height: 20px;
    margin-right: 10px;
}

/****/

.info-container {
    background-color: #F8B732;
    color: white;
    padding: 20px;
    margin-left: 280px;
    margin-right: 280px;
    border-radius: 10px;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    flex-wrap: wrap;
    max-width: 1200px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 30%;
    /* Ancho de las tarjetas */
    margin: 10px;
    /* Espacio entre las tarjetas */
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


.card img {
    width: 100%;
    /* Ocupa todo el ancho de la tarjeta */
    height: 200px;
    /* Altura fija */
    object-fit: cover;
    /* Mantener proporciones y recortar si es necesario */
}

.card-description {
    padding: 15px;
}

.btn-more-info {
    background-color: #4ABCAD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    text-decoration: none;
    display: inline-block;
}

.btn-more-info:hover {
    background-color: #4abcadb8;
}

/* -------------- */

footer {
    background-color: #f8b6325c;
    color: #404040;
    text-align: center;
    padding: 20px;
    bottom: 0;
}

footer p {
    margin: 5px 0;
    /* Espaciado entre párrafos */
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    /* Espaciado entre enlaces */
}

footer a:hover {
    text-decoration: underline;
    /* Subrayar los enlaces al pasar el mouse */
}

/* -------------- */

.img-logo {
    height: 90px;
    width: auto;
  }

  #proceso-reserva,
  #preguntas-frecuentes,
  #tips-cumpleanos,
  #servicios-adicionales,
  #por-que-elegirnos {
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }

  .paso,
  .pregunta,
  .tip,
  .servicio,
  .razon {
    margin-bottom: 15px;
  }